@using Microsoft.AspNetCore.Identity
@using CCS.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- link to the style page for all of the navigation bar styling -->
    <link rel="stylesheet" href="/css/Navigation.css">
    <link rel="stylesheet" href="/css/Navigation-toggle.css">
    <link rel="stylesheet" href="/css/Main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">


    <link id="Link1" rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon" />
    <link id="Link2" rel="icon" href="~/images/favicon.png" type="image/png" />


    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="/animate.css-master/animate.min.css">
</head>
<body class="bg">
    <nav class="navbar navbar-custom" style="z-index:1000">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" onclick="openNav()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-brand" id="logo1"><img src="/images/newlogosmall.png"></div>
                <div class="navbar-brand" id="logo2"><img src="/images/newlogo.png"></div>

                <div style="padding-left:350px;"></div>
            </div>

            <div id="myNav" class="overlay" style="">

                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


                <div class="overlay-content">

                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Home" asp-action="Services">Services</a>
                    <a asp-controller="Home" asp-action="About">About</a>
                    <a asp-controller="Contact" asp-action="Index">Contact</a>



                    @if (User.Identity.IsAuthenticated)
            {

<!--toggle navbar-->
                <a  onclick="myFunction()" href="#" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account&nbsp;<span class="caret" ></span></a>
                <div class="dropdown-menu-toggle"  aria-labelledby="accountDropdown">

                    <a class="dropdown-item-toggle" asp-controller="Account" asp-action="MessageList">View Messages</a>
                    <a class="dropdown-item-toggle" asp-controller="Account" asp-action="MessageSend">Send Message</a>
                    @if (User.IsInRole("Administrator"))

            {

                <a class="dropdown-item-toggle" asp-controller="Admin" asp-action="ProjectList">View Projects</a>
                <a class="dropdown-item-toggle" asp-controller="Admin" asp-action="ProjectAdd">New Project</a>
                <a class="dropdown-item-toggle" asp-controller="Admin" asp-action="ProductList">View Products</a>
                <a class="dropdown-item-toggle" asp-controller="Admin" asp-action="ProductNew">New Product</a>
                <a class="dropdown-item-toggle" asp-controller="Admin" asp-action="ViewUsers">View Users</a>
                <a class="dropdown-item-toggle" asp-controller="RoleAdmin" asp-action="Index">View Roles</a>
                <a class="dropdown-item-toggle" asp-controller="Admin" asp-action="Settings">Settings</a>


    }
    else
    {

        <a class="dropdown-item-toggle" asp-controller="Account" asp-action="ProjectList">View Projects</a>
        <a class="dropdown-item-toggle" asp-controller="Account" asp-action="ProjectRequest">Request Project</a>
}
                    <a class="dropdown-item-toggle" asp-controller="Account" asp-action="AccountEdit">Edit Profile</a>

                </div>




    }


                    </ul>
                    @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    




                    <button type="submit" class="btn button-toggle">Log out</button>

                </form>
    }
    else
    {

        <br />
        <button onclick="location.href='/Account/Register'" type="button" class="btn button-toggle">Register</button>
        <br />
        <button onclick="location.href='/Account/Login'" type="button" class="btn button-toggle">Login</button>



}
                </div>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav ">


                    <li class="dropdown">

                    </li>

                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Services">Services</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>



                    @if (User.Identity.IsAuthenticated)
            {

                <li>
                    <a href="#" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account&nbsp;<span class="caret"></span></a>
                    <div class="dropdown-menu" style="background-color:white; width:150px" ; aria-labelledby="accountDropdown">

                        <a class="dropdown-item" asp-controller="Account" asp-action="MessageList">View Messages</a>
                        <br /><a class="dropdown-item" asp-controller="Account" asp-action="MessageSend">Send Message</a>
                        @if (User.IsInRole("Administrator"))

                {
                    <br /><a class="dropdown-item" asp-controller="Admin" asp-action="ProjectList">View Projects</a>
                    <br /><a class="dropdown-item" asp-controller="Admin" asp-action="ProjectAdd">New Project</a>
                    <br /><a class="dropdown-item" asp-controller="Admin" asp-action="ProductList">View Products</a>
                    <br /><a class="dropdown-item" asp-controller="Admin" asp-action="ProductNew">New Product</a>
                    <br /><a class="dropdown-item" asp-controller="Admin" asp-action="ViewUsers">View Users</a>
                    <br /><a class="dropdown-item" asp-controller="RoleAdmin" asp-action="Index">View Roles</a>
                    <br /><a class="dropdown-item" asp-controller="Admin" asp-action="Settings">Settings</a>

        }
        else
        {

            <br /><a class="dropdown-item" asp-controller="Account" asp-action="ProjectList">View Projects</a>
            <br /><a class="dropdown-item" asp-controller="Account" asp-action="ProjectRequest">Request Project</a>
}
                        <br /><a class="dropdown-item" asp-controller="Account" asp-action="AccountEdit">Edit Profile</a>

                    </div>

                </li>


    }


                </ul>
                @if (SignInManager.IsSignedIn(User))
        {
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p style="color:white; padding-right:20px; padding-top:7px; font-size:20px;">Hello, @UserManager.GetUserName(User)</p>
                    </li>

                    <li><button type="submit" class="btn btn-primary">Log out</button></li>
                </ul>
            </form>
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li><button onclick="location.href='/Account/Register'" type="button" class="btn btn-primary">Register</button></li>
            <li><button onclick="location.href='/Account/Login'" type="button" class="btn btn-primary">Login</button></li>

        </ul>

}
            </div>
        </div>
    </nav>
    <div class="container" id="startchange" >

        <div class="container-content" >

            <div class="content" >

                @RenderBody()

            </div>
            @RenderSection("Scripts", required: false)

        </div>
        <!-- Footer -->

        <footer class="footer" id="footer">
            Creative Cyber Solutions 2018
        </footer>
    </div>



    <script>

        /*toggle menu dropdown*/
        window.onload = hideNav();

        function hidNav() { 

        }

        /* Hides the footer when the page is loaded */
        $(document).ready(function () {
            $("footer").hide();
        });

        /* Shows the footer when scrolled to the bottom of the webpage */
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 20) {
                
                $('footer').fadeIn(200);
                $('.footer').css('background-color', '#2c2f40ff'); 

               
            }
            else { 
                $('.footer').hide(); 
              
            }
        });


    


        $(window).resize(function () {
            if ($(window).width() > 1150) {
                closeNav();

            }

        });

        

        $(document).ready(function () {
            var scroll_start = 0;
            var startchange = $('#startchange');
            var offset = startchange.offset();
            $(document).scroll(function () {
                scroll_start = $(this).scrollTop();
                if (scroll_start > offset.top) {
                    $('.navbar-custom').css('background-color', '#2c2f40ff');
             
                } else {
                    $('.navbar-custom').css('background-color', 'transparent');
                   
                }
            });
        });




        function openNav() {
            document.getElementById("myNav").style.height = "100%";

        }

        function closeNav() {
            document.getElementById("myNav").style.height = "0%";
        }


      


        function myFunction() {
            document.getElementById("dropdown-menu-toggle").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }


    </script>

</body>
</html>
