<!DOCTYPE html>
@{
    ViewBag.Title = "Client Login";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bg">






    <br>
    <div class="container-content" id="startchange">
        <center><h1>Log into your account</h1></center>
        <br />
        <div>

            <center>
                <form class="form">
                    <label style="color:white; float: left; padding-top:0px; font-size:20px;"><a class="link" href="Register.html">Register Here &nbsp; </a> if you don't have an account</label>
                    <br />
                    <br />
                    <input type="text" id="fname" name="firstname" placeholder="Name">



                    <input type="text" id="lname" name="lastname" placeholder="Email">



                    <br />
                    <div class="checkbox">
                        <label style="color:white; float: left;"><input type="checkbox" value="">Remember Me</label>

                        <br />
                        <br />
                        <button style="float: left" class="btn btn-primary" type="submit" value="Submit">Submit</button>
                    </div>
                    <br />
                    <div>



                    </div>
                    <br />
                    <br />
                    <br />
                </form>
            </center>
            <br />
            <br>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <!-- Footer -->
        <footer class="footer">
            <p>Creative Cyber Solutions 2018</p>
        </footer>
    </div>




    <script>
        $(document).ready(function () {
            var scroll_start = 0;
            var startchange = $('#startchange');
            var offset = startchange.offset();
            $(document).scroll(function () {
                scroll_start = $(this).scrollTop();
                if (scroll_start > offset.top) {
                    $('.navbar-custom').css('background-color', '#2c2f40ff');
                } else {
                    $('.navbar-custom').css('background-color', 'transparent');
                }
            });
        });
    </script>

</body>
</html>
