@model Message;
@{
    ViewData["Title"] = "Your Messages";
}

<h2>Your Messages</h2>


<strong>From</strong><br />
@Model.FromID <br />
<strong>Date</strong><br />
@Model.Date <br />
<strong>Subject</strong><br />
@Model.Subject <br />
<strong>Message</strong><br />
@Model.Text <br />