@{
    ViewBag.Title = "Index";
}

<link href="~/Content/serviceslayout.css" rel="stylesheet" type="text/css"/>
<link href="~/Content/servicesstyle.css" rel="stylesheet" type="text/css" />

<h2>How can custom software help your business?</h2>

<ul class="row">


    <li class="row">
        <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
        <span class="col-xs-9 col-sm-10">
            A web store can exponentially expand the size of your market
        </span>
    </li>
    <li class="row">
        <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
        <span class="col-xs-9 col-sm-10">
            Web services can enable you to provide business partners
            and clients with access to almost any kind of data you wish
            to provide for a fee or free
        </span>
    </li>
    <li class="row">
        <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
        <span class="col-xs-9 col-sm-10">
            Web applications allow you to deploy software online for
            use by your clients, partners, or employees
        </span>
    </li>
    <li class="row">
        <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
        <span class="col-xs-9 col-sm-10">
            Desktop software applications allow you to provide
            functionality even when there is no internet connection
        </span>
    </li>
    <li class="row">
        <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
        <span class="col-xs-9 col-sm-10">
            Mobile applications for Android, iOS, and Windows can be
            written to run with or without internet. This is the type
            of software that customers are demanding now more than ever
        </span>
    </li>
</ul>

<h3>Why choose us?</h3>

<h4>With over 20 years’ experience doing software development, we know how to develop software that:</h4>

<ul class="row">
    <li class="row">
        <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
        <span class="col-xs-9 col-sm-10">
            Truly meets your needs
        </span>
    </li>
    <li class="row">
        <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
        <span class="col-xs-9 col-sm-10">
            Works intuitively and is easy to use
        </span>
    </li>
    <li class="row">
        <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
        <span class="col-xs-9 col-sm-10">
            Works correctly
        </span>
    </li>
    <li class="row">
        <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
        <span class="col-xs-9 col-sm-10">
            Can be easily expanded and upgraded
        </span>
    </li>
</ul>
