@{
    ViewBag.Title = "About";
}

<link href="~/Content/serviceslayout.css" rel="stylesheet" type="text/css" />
<link href="~/Content/aboutstyle.css" rel="stylesheet" type="text/css" />


<div>
    <h2>@ViewBag.Title Creative CyberSolutions</h2>

    <p>
        Creative CyberSolutions was founded in 2009 by Brian Bird. Brian has over 20 years’ experience as a professional
        software developer and Computer Science instructor. A team of other software developers work with Brian on software
        projects as needed.
    </p>

    <h3>Our expertise includes:</h3>

    <ul class="row">
        <li class="row">
            <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
            <span class="col-xs-9 col-sm-10">
                .NET development (C# and Visual Basic)
            </span>
        </li>
        <li class="row">
            <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
            <span class="col-xs-9 col-sm-10">
                Java Development including ServerPages, Servlets, and Spring MVC
            </span>
        </li>
        <li class="row">
            <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
            <span class="col-xs-9 col-sm-10">
                SQL programming (T-SQL, PL-SQL and MySQL)
            </span>
        </li>
        <li class="row">
            <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
            <span class="col-xs-9 col-sm-10">
                Web development with JavaScript, HTML 5, CSS 3 and ASP.NET (Web Forms and MVC)
            </span>
        </li>
        <li class="row">
            <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
            <span class="col-xs-9 col-sm-10">
                Mobile Development for iOS and Android
            </span>
        </li>
        <li class="row">
            <img src="~/Images/iconccs.png" class="col-xs-3 col-sm-2" />
            <span class="col-xs-9 col-sm-10">
                Device and instrument control with C and C++
            </span>
        </li>
    </ul>

    <p>
        The company is based in Springfield, Oregon, but we can serve clients anywhere that the internet reaches - which is
        just about everywhere!
    </p>
</div>