
@{
    ViewData["Title"] = "About";
}
<br />
<center><h1>About Creative Cyber Solutions</h1></center>
<br />
<br />
<center>
<div class="row" style="width:80%;">
    <div class="col-sm-6" >
        <div class="card">
            <br />
            <img src="~/images/avatar.png" alt="Avatar" style="width:100px;">
            <div class="container">
                <h4><b>Brian Bird</b></h4>
                <p>CEO</p>
                
                <br/>
            </div>
        </div>
    </div>

    <div class="col-sm-6" >
        <div class="card">
            <br />
            <img src="~/images/avatar.png" alt="Avatar" style="width:100px;">
            <div class="container">
                <h4><b>Ryan Sankey</b></h4>
                <p>COO</p>
                <div style="width:70%;">
                    <p style="color:#303639;">Ryan Sankey has over 15 years of experience as a professional software developer, and he has a Computer Science, B.S. from George Fox University.  He has a passion for partnering with you to turn your ideas into a digital reality.  Combined with excellent customer service, analytical skills, and project management skills, your software project is sure to be handled with care.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    </center>




