
@{
    ViewData["Title"] = "About";
}
<br />
<center><h1>About Creative Cyber Solutions</h1></center>
<br />
<br />
<center>
<div class="row" style="width:80%;">
    <div class="col-sm-6" style="height:100%;">
        <div class="card" style="">
            <br />
            <img src="~/images/avatar.png" alt="Avatar" style="width:100px;">
            <div class="container-fluid">
                <h4><b>Brian Bird</b></h4>
                <p>CEO</p>
                <div style="width:70%;">
                    <p style="color:#303639; padding-bottom:10px;">I’ve always been an “idea person”. I am constantly coming up with ideas for better ways of doing things or dreaming up some kind of a device or software app that could make some aspect of our lives better. I have degrees in Electronics, Biblical Literature, and Linguistics and I’ve been writing code since 1978. I currently teach software development classes at Lane Community College and the University of Oregon and I’ve taught software engineering in India the last two summers. I love teaching and I am fascinated by the diverse languages and cultures of our world. I am passionate about using technology to improve education and build connections between all the people of the world.</p>
                  
                </div>
                    <br />
                </div>
       
            </div>

    </div>
    <br/>

    <div class="col-sm-6" >
        <div class="card">
            <br />
            <img src="~/images/avatar.png" alt="Avatar" style="width:100px;">
            <div class="container-fluid">
                <h4><b>Ryan Sankey</b></h4>
                <p>COO</p>
                <div style="width:70%;">
                    <p style="color:#303639;">Ryan Sankey has over 15 years of experience as a professional software developer, and he has a Computer Science, B.S. from George Fox University.  He has a passion for partnering with you to turn your ideas into a digital reality.  Combined with excellent customer service, analytical skills, and project management skills, your software project is sure to be handled with care.</p>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
    <br />
    <br />
    <br />
    </center>






