
@{
    ViewData["Title"] = "Index";
}


<center>
    <div style="background-color:#2e9aca" >
        <br>
        <br />
      
        <center><h1 style="color:white">The Custom Software You Need</h1></center>
        <br>
        <img src="~/images/computersoftware.png" style="width:auto; height:300px; padding:20px;" class="computer_image">
        <center><h2 style="color:white;">We listen you create</h2></center>
        <center><h2 style="color:white">You get the software you want</h2></center>
        <br />
        <br />
        <br />
    </div>

    <br>



    <div style="background-color:white; " class="center">
        <br>
        <center><h1>Your Business</h1></center>

        <center><h2>Which of these is you?</h2></center>
        <br />
        <hr style="width:90%; " />

        <div style="background-color:white; width:95%;">
            <br />
            <center><h2 style="font-size:30px; ">Brilliant Product Ideas Need Developers</h2></center>

            <img src="~/images/bulbicon.png" style="height:250px; padding:20px;">

            <div class="text">
                <strong>
                    <p style="font-size:20px; ">
                        You have a great idea for a software product or service, but need
                        someone to do the development we will:
                    </p>
                </strong>

                <p style="font-size:20px; padding:0px; color:#545454">Help you refine and test the idea</p>
                <p style="font-size:20px; ">Design and code the software</p>
                <p style="font-size:20px;">Help you deploy it to your market</p>



            </div>
            <br />

        </div>


        <hr style="width:90%; " />

        <div style="background-color:white; width:95%;">
            <br />
            <center><h2 style="font-size:30px; color:#545454 ">Growing Business Process Needs Improvment</h2></center>

            <img src="~/images/growicon.png" style="height:250px; padding:20px;">

            <div class="text">
                <strong>
                    <p style="font-size:20px; color:#545454">
                        You have an excellent business but you suspect you could improve efficiency and accuracy using more apporpriate software. We will:
                    </p>
                </strong>

                <p style="font-size:20px; color:#545454">Watch and listen to understand your business processes</p>
                <p style="font-size:20px; color:#545454">Write a reccomendation for custom and/or off the shelf software</p>
                <p style="font-size:20px; color:#545454">Design and implement the software solution</p>
                <p style="font-size:20px; color:#545454">Document the software and train your employees to use it</p>



            </div>
            <br />

        </div>


        <hr style="width:90%; " />

        <div style="background-color:white; width:95%;">
            <br />
            <center><h2 style="font-size:30px; color:#545454 ">You Have Developers Not Enough Capacity</h2></center>

            <img src="~/images/peopleicon.png" style="height:250px; padding:20px;">

            <div class="text">
                <strong>
                    <p style="font-size:20px; color:#545454">
                        You have some great developers, but you need more capacity to finish your project in time. We Provide
                    </p>
                </strong>

                <p style="font-size:20px; color:#545454">Additional Developers to work with your team</p>
                <p style="font-size:20px; color:#545454">Experience consultants to assist with design and implementation</p>
                <p style="font-size:20px; color:#545454">A self-managed development team to take over a sub-project</p>



            </div>
            <br />

        </div>


        <hr style="width:90%; " />

        <div style="background-color:white; width:95%;">
            <br />
            <center><h2 style="font-size:30px; color:#545454 ">Extending your Business Need Apps to Support Customers</h2></center>

            <img src="~/images/appicon.png" style="height:250px; padding:20px;">

            <div class="text">
                <strong>
                    <p style="font-size:20px; color:#545454">
                        You need a better way to make sales and developer customer service. Provide your customers with free web and mobile self-service apps. We will:
                    </p>
                </strong>

                <p style="font-size:20px; color:#545454">Watch and listen to understand your customer's needs</p>
                <p style="font-size:20px; color:#545454">Reccomend web and mobile apps that will facilitate sales and/or service</p>
                <p style="font-size:20px; color:#545454">Help you deploy the apps</p>


            </div>
            <br />
            <hr style="width:90%;" />
            <br />
            <br />
        </div>

    </div>
</center>
    <br />









