
@{
    ViewData["Title"] = "Index";
}


<center>
        <div style="background-color:#1b97c7; width:100%; ">
            <br>
            <br />
            <br />
        <center><h1 style="color:white;">The Custom Software You Need</h1></center>
        <br>
        <center><h2 style="color:white;">We listen you create</h2></center>
        <center><h2 style="color:white;">You get the software you want</h2></center>
        <br/>
            <br/>
            <br/>
        </div>

<!-- box for testers, not part of design 
    
    <div style="background:red; font-weight:bold; color:white;margin:15px;width:90%;"><div style="padding:15px;">WELCOME TESTERS!<br />&nbsp;<br />
           PLEASE <a href="https://goo.gl/forms/vlzXqZwhQhSdkry83" target="_blank">CLICK HERE</a> For Our Test Instructions & Feedback Form!</div></div>
     end box-->

</center>
<br>
<center>
    <div style="background-color:white; ">
        <br>
        <center><h1>Your Business</h1></center>

        <center><h2>Which of these is you?</h2></center>
        <br/>
        <br />
        <div style="background-color:#303639; width:95%;">
            <br />
            <center><h2 style="font-size:30px; color:white ">Brilliant Product Ideas Need Developers</h2></center>
            <br />
            <div style="width:40%;">
                <p style="font-size:20px; color:white">
                    You have a great idea for a software product or service, but need
                    someone to do the development we will:
                </p>
            </div>
            <br>
            <ul>
                <li style="font-size:20px; color:white; list-style-type: none;">- Help you refine and test the idea</li>
                <li style="font-size:20px; color:white; list-style-type: none;">- Design and code the software</li>
                <li style="font-size:20px; color:white; list-style-type: none;">- Help you deploy it to your market</li>
            </ul>
            <br>
            <br />
        </div>

        <br />
        <div style="background-color:#303639;width:95%;">
            <br />
            <center><h2 style="font-size:30px; color:white; ">Growing Business Processes Need Improvement</h2></center>
            <br />
            <div style="width:40%;">
                <p style="font-size:20px; color:white">
                    You have an escellent business but you suspect you could
                    improve efficiency and accuracy using more appropriate software. We will:
                </p>
                <br />
            </div>
            <ul>
                <li style="font-size:20px; color:white; list-style-type: none;">- Watch and listen to understand your business processes</li>
                <li style="font-size:20px; color:white; list-style-type: none;">- Write a reccomendation for custom and/or off the shelf software</li>
                <li style="font-size:20px; color:white; list-style-type: none;">- design and implement the software solution</li>
                <li style="font-size:20px; color:white; list-style-type: none;">- Document the software and train your employees to use it</li>

            </ul>
            <br />
        </div>

        <br />
        <div style="background-color:#303639; width:95%;">
            <br />
            <center><h2 style="font-size:30px; color:white; ">You Have Developers Not Enough Capacity</h2></center>
            <br />
            <div style="width:40%;">
                <p style="font-size:20px; color:white">
                    You have some great developers, but you need
                    more capacity to finish your project in time. We
                    provide:
                </p>
                <br />
                <ul>
                    <li style="font-size:20px; color:white; list-style-type: none;">- Additional Developers to work with your team</li>
                    <li style="font-size:20px; color:white; list-style-type: none;">- Experience consultants to assist with design and implementation</li>
                    <li style="font-size:20px; color:white; list-style-type: none;">- A self-managed development team to take over a sub-project</li>

                </ul>
            </div>
            <br />
        </div>

        <br />

        <div style="background-color:#303639; width:95%;">
            <br>
            <center><h2 style="font-size:30px; color:white; ">Extending your Business Need Apps to Support Customers</h2></center>
            <br />
            <div style="width:40%;">
                <p style="font-size:20px; color:white">
                    You need a better way to make sales and developer
                    customer service. Provide your customers with free web
                    and mobile self-service apps. We will:
                </p>
                <br />
            </div>
            <ul>
                <li style="font-size:20px; color:white; list-style-type: none;">- Watch and listen to understand your customer's needs</li>
                <li style="font-size:20px; color:white; list-style-type: none;">- Reccomend web on mobile apps that will facilitate sales and/or service</li>
                <li style="font-size:20px; color:white; list-style-type: none;">- Help you deploy the apps</li>

            </ul>
            <br>
        </div>
        <br />
        <div style="background-color:#1b97c7; width:100%; ">
            <br>
            <br />

            <center><h1 style="color:white;">Our Promise</h1></center>
            <br>
        
            <div style="width:40%;">
                <p style="font-size:20px; color:white">
                   We will:
                </p>
                <br />
            </div>
            <ul>
                <li style="font-size:20px; color:white; list-style-type: none;">- Listen to you and understand your needs</li>
                <li style="font-size:20px; color:white; list-style-type: none;">- Develop your app in a way that is flexible and responsive to your wishes</li>
                <li style="font-size:20px; color:white; list-style-type: none;">- Respect your budget and time constraints</li>
                <br/>
            </ul>
            <br />
            <br />
        </div>



    </div>
     <br/>
</center>
        




        



