
@{
    ViewData["Title"] = "Index";
}



 
        <center><h1 class="animated zoomIn">Empower Your Business</h1></center>
        <hr style="background-color:black; width:80%">
        <br />
        <br />




        <br />
        <center><img class="img-responsive" src="./images/icons.png" style="width:600px;" /></center>



