
@{
    ViewData["Title"] = "Services";
}

<br />
<center><h1>Services</h1></center>
<center><h3>We start by understanding your needs and design a solution custom tailored for you and your customers</h3></center>


<div class="w3-row">
    <div class="w3-col s6 w3-green w3-center"><p>s6</p></div>
    <div class="w3-col s6 w3-dark-grey w3-center"><p>s6</p></div>
</div>





<br />
<br />
<br />

<br />


