
@{
    ViewData["Title"] = "Services";
}

<br />
<center><h1>Services</h1></center>
<center><h3>We start by understanding your needs and design a solution custom tailored for you and your customers</h3></center>

<br />
<!--
<div class="container">

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img src="~/images/icon.jpg">
            <h3>Software applications for Windows, Mac OS or Linux</h3>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img src="~/images/icon.jpg">
            <h3>Web sites, web applications</h3>

        </div>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img src="~/images/icon.jpg">
            <h3>Mobile applications for Android, or iOS</h3>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img src="~/images/icon.jpg">
            <h3>Data Analysis and Reporting</h3>

        </div>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img src="~/images/icon.jpg">
            <h3>Systems composed of multiple programs, apps and web sites</h3>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img src="~/images/icon.jpg">
            <h3>Internet hosting services</h3>

        </div>
    </div>
</div>
-->

<center>

    <div class="row" style="width:80%; max-height:100%;   ">

        <div class="col-sm-6">

            <div class="card-icon" style="background-color:white; height:80px; text-align:left">

                <img src="~/images/database.png" style="float:left; height:80px; padding-right:10px;">


                <h4 style="padding-top:25px;"><b>Data Analysis and Reporting</b></h4>
            </div>
        </div>



        <div class="col-sm-6">
            <div class="card-icon" style="background-color:white; height:80px; text-align:left">

                <img src="~/images/web.png" style="float:left; height:80px; padding-right:10px;">


                <h4 style="padding-top:25px;"><b>Web sites, web applications</b></h4>
            </div>
        </div>



    </div>

 
    <div class="row" style="width:80%;  max-height:100%;  ">
        <div class="col-sm-6">
            <div class="card-icon" style="background-color:white; height:80px; text-align:left">

                <img src="~/images/phone.png" style="float:left; height:80px; padding-right:10px;">


                <h4 style="padding-top:25px;"><b>Mobile applications for Android, or iOS</b></h4>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card-icon" style="background-color:white; height:80px; text-align:left ">

                <img src="~/images/computer.png" style="float:left; height:80px; padding-right:10px; ">


                <h4 style="padding-top:25px;"><b>Software applications for Windows, Mac OS or Linux</b></h4>
            </div>
        </div>
    </div>

 
    <div class="row" style="width:80%;  max-height:100%;  ">
        <div class="col-sm-6">
            <div class="card-icon" style="background-color:white; height:80px; text-align:left">

                <img src="~/images/gears.png" style="float:left; height:80px; padding-right:10px;">


                <h4 style="padding-top:25px;"><b>Systems composed of multiple programs, apps and web sites</b></h4>
            </div>
        </div>
    
        <div class="col-sm-6">
            <div class="card-icon" style="background-color:white; height:80px; text-align:left">

                <img src="~/images/arrow.png" style="float:left; height:80px; padding-right:10px;">


                <h4 style="padding-top:25px;"><b>Internet hosting services</b></h4>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</center>








