
@{
    ViewData["Title"] = "Services";
}

<br />
<center><h1>Services</h1></center>
<center><h3>We start by understanding your needs and design a solution custom tailored for you and your customers</h3></center>



<center>
<div class="container services-container" style="width:65%; z-index:30;">
    <div class="row">
        <div class="col-sm-4 ">
            <img src="~/images/database.png" style="height:80px;" class="center-img">
            <h4 style="" class="center-text"><b>Data Analysis and Reporting</b></h4>
        </div>
        <div class="col-sm-4 ">
            <img src="~/images/web.png" style="height:80px;" class="center-img">
            <h4 style="" class="center-text"><b>Web sites, web applications</b></h4>
        </div>
        <div class="col-sm-4 ">
            <img src="~/images/phone.png" style="height:80px;" class="center-img">
            <h4 style="" class="center-text"><b>Mobile applications for Android, or iOS</b></h4>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-sm-4 ">
            <img src="~/images/computericon.png" style="height:80px; " class="center-img">
            <h4 style="" class="center-text"><b>Software applications for Windows, Mac OS or Linux</b></h4>
        </div>
        <div class="col-sm-4 ">
            <img src="~/images/gears.png" style="height:80px;" class="center-img">
            <h4 style="" class="center-text"><b>Systems composed of multiple programs, apps and web sites</b></h4>
        </div>
        <div class="col-sm-4">
            <img src="~/images/arrow.png" style="height:80px;" class="center-img">
            <h4 style="" class="center-text"><b>Internet hosting services</b></h4>
        </div>
    </div>
    <br/>

  
</div>
    </center>














