
@{
    ViewData["Title"] = "Access Denied";
}



<br />

        <div class="content" style="height:600px;  background-color: white">
            <center>
                <h1>Oops!</h1>
                <br />
                You may have reached this page by mistake, <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">click here to go back.</a>


    
            </center>
        </div>

