
@{
    ViewData["Title"] = "AccessDenied";
}





        <div class="content" style="height:600px;  background-color: white">
            <center>
                <h1>AccessDenied</h1></h1>


                <a asp-action="Index" asp-controller="Home"  class="btn btn-secondary">Cancel</a>
            </center>
        </div>

