@model CCS.Models.User

@{
    ViewData["Title"] = "Edit Account";

    // CREATIVE CYBER SOLUTIONS
    // CREATED: 05/22/2018
    // CREATED BY: JOHN BELL contact@conquest-marketing.com
    // UPDATED: 05/29/2018
    // UPDATED BY: JOHN BELL contact@conquest-marketing.com


}
<center>
    <br />
    <h2>Edit Account</h2>
    <br />
    <center><span style="color:red; font-weight:bold">@ViewBag.Message</span></center>


    <form asp-action="AccountEdit" method="post" class="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="Id" type="hidden" />
        First Name
        <input asp-for="FirstName" placeholder="First Name" />
        <span asp-validation-for="FirstName" class="text-danger"></span>

        Last Name
        <input asp-for="LastName" placeholder="Last Name" />
        <span asp-validation-for="LastName" class="text-danger"></span>

        Username
        <input asp-for="UserName" placeholder="Username" />
        <span asp-validation-for="UserName" class="text-danger"></span>

        Email Address
        <input asp-for="Email" placeholder="Email Address" />
        <span asp-validation-for="Email" class="text-danger"></span>

        Phone Number
        <input asp-for="PhoneNumber" placeholder="Phone Number" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

        <button type="submit" style="float:left;" class="btn button">Update</button>

    </form>
    <br />&nbsp;
    <br />
    <h2>Change Password</h2>
    <br />
    <form asp-action="AccountPasswordEdit" method="post" class="form">
        Old Password<br />
        <input type="password" name="oldPassword" />
        New Password <br />
        <input type="password" id="newPassword" name="newPassword" style="margin-bottom:0px; border-bottom:none; border-bottom-left-radius:unset;border-bottom-right-radius:unset;"/>
        <input type="button" id="showPassword" value="Show Password" class="button btn-block" style="margin-top:0px; margin-bottom:15px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;" />

        <button type="submit" style="float:left;" class="btn button">Update</button>

    </form>

</center>
<br />&nbsp;<br />
<script>

    // Check javascript has loaded
    $(document).ready(function () {
        $('#showPassword').on('click', function () {
            var passwordField = $('#newPassword');
            var passwordFieldType = passwordField.attr('type');
            if (passwordFieldType == 'password') {
                passwordField.attr('type', 'text');
                $(this).val('Hide Password');
            } else {
                passwordField.attr('type', 'password');
                $(this).val('Show Password');
            }
        });
    });
</script>
