@model Dictionary<string, object>

@{
    ViewData["Title"] = "Index";
}

<br>
<div class="container-content" id="startchange">
    <center>
        <h1>You are logged into your account</h1>
    </center>
</div>


