@model Message
@{
    ViewData["Title"] = "Send a Message";
}


<br>
<center><h1>Send a Message</h1></center>
<br>

<center>
<form method="post" class="form">
    <input asp-for="ToUser" placeholder="Send To">
    <input type="hidden" asp-for="FromID" />
    <input asp-for="Subject" placeholder="Subject"/>
    <textarea asp-for="Text" placeholder="Message"></textarea>
    <button class="btn btn-primary" style="float: left;" type="submit" value="Submit">Submit</button>
</form>
</center>

<script type="text/javascript" src="/Home/memberMessageList"></script>