@model Message
@{
    ViewData["Title"] = "Send a Message";
}



<h2>Send a Message</h2>

<form method="post">
    <label asp-for="ToID"><strong>Send To</strong></label><br />
    <input asp-for="ToUser"><br />&nbsp;<br />
    <input type="hidden" asp-for="FromID" />
    <label asp-for="Subject">Subject</label><br />
    <input asp-for="Subject" /><br />&nbsp;<br />
    <label asp-for="Text">Message</label><br />
    <textarea asp-for="Text"></textarea><br />
    <input type="Submit" value="Send!"/>
</form>

<script type="text/javascript" src="/Home/memberMessageList"></script>