@model List<Message>;
@{
    ViewData["Title"] = "Your Messages";
}

@foreach (Message m in @Model)
{
    <a id="@m.ID"></a>
    <div style="background:grey">@m.Subject -  @m.Date</div>
    <div>@m.Text</div>
    <div style="margin:10px;">&nbsp;</div>
}
