@model List<Project>
@{
    // CREATIVE CYBER SOLUTIONS
    // CREATED 05/02/2018
    // CREATED BY JOHN BELL contact@conquest-marketing.com
    // UPDATED 05/02/2018
    // UPDATED BY JOHN BELL contact@conquest-marketing.com

    ViewData["Title"] = "Your Projects";
}

<center><h1>Your Projects</h1></center>
<br />
<center><a asp-action="ProjectRequest" class="btn button">New Project Request</a></center>
    <br />
<center><div class="table-responsive">
    <table cellspacing="3" class="table table-condensed">
        <thead><tr><th>Project Name</th><th>Status</th><th>Origination Date</th></tr></thead>

        @foreach (Project p in Model)
        {
        <tr class="clickable-row" data-href="ProjectView/@p.ID"><td>@p.Name</td><td>@p.Progress</td><td>@p.QuoteDate</td></tr>
        }
    </table>
</div>
    </center>


<script type="text/javascript">
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>