@model Project
@{
    // CREATIVE CYBER SOLUTIONS
    // CREATED 05/02/2018
    // CREATED BY JOHN BELL contact@conquest-marketing.com
    // UPDATED 05/02/2018
    // UPDATED BY JOHN BELL contact@conquest-marketing.com

    ViewData["Title"] = "New Project Request";
}
<br />
<br />
<br />
<br />
<center><h1>New Project Request</h1></center>
</br>

<center>
<form method="post" class="form">
    <input asp-for="Name" placeholder="Project Name"/>
    <input asp-for="CustomerID" type="hidden" value="@ViewBag.UserId"/>
    <textarea asp-for="Description" placeholder="Description"></textarea>

    <button class="btn btn-primary" style="float: left;" type="submit" value="Submit">Submit</button>
</form>
</center>