@model RegisterModel

@{
    ViewData["Title"] = "Create an Account";
}


<br>
<br />
<br />
<br />
<center><h1>Register for an account</h1></center>
<br />

<center>
    <div asp-validation-summary=" All" class="text-danger"></div>
    <form class="form" method="post">


        <input asp-for="Name" type="text" placeholder="Name">
        <input asp-for="Email" type="text" placeholder="Email">


        <input asp-for="Password" type="password" placeholder="Password" style="margin-bottom:0px;border-bottom-left-radius:unset;border-bottom-right-radius:unset;">
        <input type="button" id="showPassword" value="Show Password" class="button btn-block" style="margin-top:0px; margin-bottom:15px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;" />




        <button class="btn btn-primary" style="float: left;" type="submit" value="Submit">Submit</button>



    </form>
</center>
<br />&nbsp;<br />
<script>

    // Check javascript has loaded
    $(document).ready(function () {
        $('#showPassword').on('click', function () {
            var passwordField = $('#Password');
            var passwordFieldType = passwordField.attr('type');
            if (passwordFieldType == 'password') {
                passwordField.attr('type', 'text');
                $(this).val('Hide Password');
            } else {
                passwordField.attr('type', 'password');
                $(this).val('Show Password');
            }
        });
    });
</script>

