@font-face {
    font-family: MainFont;
    src: url(/fonts/Aller_Std_Bd.ttf);
}

#logo1 {
    display: none;
}

#logo2 {
    display: block;
}

.link {
    transition: all .5s;
    color: #3771c8ff;
    font-size: 23px;
    font-family: 'MainFont';
}

    .link:hover {
        color: #73a5ff;
        transition: all .5s;
        /* Gets rid of the underline on links */
        text-decoration: none;
        font-size: 23px;
        font-family: 'MainFont';
    }

.form {
    max-width:500px;;
}

.content {
    padding-top: 50px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom:50px;
}

.container-content {
    padding-top: 110px;
    padding-right: 40px;
    padding-left: 40px;  
}

.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}

.container form {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 60%;
}

h1 {
    color: #3771c8ff;
    font-family: 'MainFont';
    font-size: 50px;
}

/* Navigation bar styling */

.navbar-custom {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.form-group {
    padding:300px;
    padding-top:0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
    padding-top:15px;
    background-color: #3771c8ff;
    color: white;
    text-align: center;
}

.navbar-nav > li > a {
    background-color: transparent;
    border: 2px solid transparent;
    margin-right: 5px;
    transition: all .5s;
    margin-top: 6px;
    padding: 10px;
    text-align: center;
    width: 100px;
    color: white;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
    border: 2px solid #3771c8ff;
    transition: all .5s;
    margin-right: 5px;
    margin-top: 6px;
    padding: 10px;
    text-align: center;
    width: 100px;
    color: #3771c8ff;
    }




    .navbar-nav > li > a:focus{
        background-color: transparent;
        border: 2px solid #3771c8ff;
        transition: all .5s;
        margin-right: 5px;
        margin-top: 6px;
        padding: 10px;
        text-align: center;
        width: 100px;
        color: #3771c8ff;
    }

    .navbar-nav > li > a:after {
        background-color: transparent;
        border: 2px solid #3771c8ff;
        transition: all .5s;
        margin-right: 5px;
        margin-top: 6px;
        padding: 10px;
        text-align: center;
        width: 100px;
        color: #3771c8ff;
    }

.navbar-custom .navbar-nav > li > a.active {
    background-color: transparent;
    border: 2px solid #3771c8ff;
    transition: all .5s;
    margin-right: 5px;
    margin-top: 6px;
    padding: 10px;
    text-align: center;
    width: 100px;
    color: #3771c8ff;
}

.icon-bar {
    background-color: white;
    margin-top: 3px;
}


/* primary button styling */

.btn-primary {
    margin-right: 10px;
    width: 80px;
    transition: all .5s;
    height: 42px;
    background-color: #3771c8ff;
    border: 2px solid #3771c8ff;
    margin-bottom: 10px;
    color: white;
    font-family: 'MainFont';
}

.navbar-right {
    background-color: transparent;
    padding-left: 10px;
    margin-top: 6px;
}

/* primary button styling on hover */

.btn-primary:hover {
    margin-right: 10px;
    transition: all .5s;
    width: 80px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #3771c8ff;
    color: #3771c8ff;
    font-family: 'MainFont';
}

.btn-primary:after {
    margin-right: 10px;
    transition: all .5s;
    width: 80px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #3771c8ff;
    color: #3771c8ff;
    font-family: 'MainFont';
}

.btn-primary.active {
    margin-right: 10px;
    transition: all .5s;
    width: 80px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #3771c8ff;
    color: #3771c8ff;
    font-family: 'MainFont';
}

/* brand logo styling */

.navbar-brand {
    padding: 0px;
    padding-right: 50px;
    padding-left: 20px;
}

.navbar-brand > img {
        height: 90px;
        margin-top: 0px;
        height: auto;
}

body, html {
    background-image: url('/images/background.png');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 470px) {

    #logo1 {
        display: block;
    }

    #logo2 {
        display: none;
    } 
}

@media only screen and (max-width: 1200px) {

.navbar-custom {
    background-color: transparent;
}

.navbar-collapse {
    background-color: #2c2f40ff;
    margin-top: 30px;
}

.navbar-nav > li > a {
    background-color: transparent;
    border: 2px solid transparent;
    text-align: left;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
    border: 2px solid transparent;
    text-align: left;
}

.navbar-toggle {
    background-color: transparent;
    border: none;
}

.navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
}

.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-collapse.collapse {
    display: none !important;
}

.navbar-nav {
    float: none !important;
    /*margin: 7.5px -15px;*/
    margin: 7.5px 50px 7.5px -15px
}

.navbar-nav > li {
    float: none;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > .active {
    background-color: transparent;
    text-align: left;
    border:2px solid transparent;
}

.navbar-text {
        float: none;
        margin: 15px 0;
}

.navbar-collapse.collapse.in {
        display: block !important;
}

.collapsing {
   overflow: hidden !important;
}

}
