
body, html {
    /* background image for the website */
    background-image: url('/images/background.png');
    /* Full height */
    height: 100%;
    /* fits the background image to the screen when resizing */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* uses font from folder instead of using installed fonts*/
@font-face {
    font-family: MainFont;
    src: url(/fonts/Aller_Std_Bd.ttf);
}

/*logo that is displayed when regular logo no longer fits on navbar*/
#logo1 {
    display: none;
}

/* logo that is displayed on the navbar */
#logo2 {
    display: block;
}

/* styling for all forms on the website */
.form {
    /* resizes the forms correctly when the page is resized */
    max-width: 500px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 60%;
}

/* container for all the content on the webpage */
.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    height: 200px;
}

/* the div that contains content on the webpage */
.content {
    padding-top: 50px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    min-height: 600px;
    background-color: white
}

/* the styling for the content inside the content div */
.container-content {
    padding-top: 110px;
    padding-right: 40px;
    padding-left: 40px;  
}

/* styling for h1 tags */
h1 {
    color: #3771c8ff;
    font-family: 'MainFont';
    font-size: 50px;
}

/* styling for h2 tags */
h2 {
    color: #3771c8ff;
}

/* styling for p tags */
p {
    color: #3771c8ff;
}


/* NAVIGATION BAR STYLING */
/* navbar-custom overwrites the stlying for the default bootstrap navbar*/
.navbar-custom {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.form-group {
    padding:300px;
    padding-top:0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
    padding-top:15px;
    background-color: #3771c8ff;
    color: white;
    text-align: center;
}

.navbar-nav > li > a {
    background-color: transparent;
    border: 2px solid transparent;
    margin-right: 5px;
    transition: all .5s;
    margin-top: 6px;
    padding: 10px;
    text-align: center;
    width: 100px;
    color: white;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
    border: 2px solid #3771c8ff;
    transition: all .5s;
    margin-right: 5px;
    margin-top: 6px;
    padding: 10px;
    text-align: center;
    width: 100px;
    color: #3771c8ff;
}

    .navbar-nav > li > a:hover {
        background-color: transparent;
        border: 2px solid #3771c8ff;
        transition: all .5s;
        margin-right: 5px;
        margin-top: 6px;
        padding: 10px;
        text-align: center;
        width: 100px;
        color: #3771c8ff;
    }


.navbar-nav > li > a:focus{
    background-color: transparent;
    border: 2px solid #3771c8ff;
    transition: all .5s;
    margin-right: 5px;
    margin-top: 6px;
    padding: 10px;
    text-align: center;
    width: 100px;
    color: #3771c8ff;
}

.navbar-nav > li > a::after {
    background-color: transparent;
    border: 2px solid #3771c8ff;
    transition: all .5s;
    margin-right: 5px;
    margin-top: 6px;
    padding: 10px;
    text-align: center;
    width: 100px;
    color: #3771c8ff;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: #3771c8ff;
}


.navbar-nav > li > .dropdown-menu {
    margin-top: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding:10px;
    text-decoration:none;

}

.navbar-custom .navbar-nav > li > a.active {
    background-color: transparent;
    border: 2px solid #3771c8ff;
    transition: all .5s;
    margin-right: 5px;
    margin-top: 6px;
    padding: 10px;
    text-align: center;
    width: 100px;
    color: #3771c8ff;
}

a {
    text-decoration: none;
    color: #2c2f40ff;
}

    a:hover {
        text-decoration: none;
        color: #2e5287;
    }




.icon-bar {
    background-color: white;
    margin-top: 3px;
}


/* primary button styling */

.btn-primary {
    margin-right: 10px;
    width: 80px;
    transition: all .5s;
    height: 42px;
    background-color: #3771c8ff;
    border: 2px solid #3771c8ff;
    margin-bottom: 10px;
    color: white;
    font-family: 'MainFont';
}

.navbar-right {
    background-color: transparent;
    padding-left: 10px;
    margin-top: 6px;
}

/* primary button styling on hover */

.btn-primary:hover {
    margin-right: 10px;
    transition: all .5s;
    width: 80px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #3771c8ff;
    color: #3771c8ff;
    font-family: 'MainFont';
}

.btn-primary:after {
    margin-right: 10px;
    transition: all .5s;
    width: 80px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #3771c8ff;
    color: #3771c8ff;
    font-family: 'MainFont';
}

.btn-primary.active {
    margin-right: 10px;
    transition: all .5s;
    width: 80px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #3771c8ff;
    color: #3771c8ff;
    font-family: 'MainFont';
}

.dropdown-menu {

    margin-top:200px;
   
}


.btn-primary-dropdown {
    width: 80px;
    margin-top: 7px;
    height: 40px;
    padding-right:10px;
    margin-right: 10px;
    transition: all .5s;
    width: 80px;
    background-color: transparent;
    border: 2px solid #3771c8ff;
    color: #3771c8ff;
    font-family: 'MainFont';
}


.btn-primary-dropdown:hover {
    color: #3771c8ff;
}

.dropdown {
    color:white;
}

li.active > a dropdown {
    color: white;
    background-color:red;
}


/* brand logo styling */

.navbar-brand {
    padding: 0px;
    padding-right: 50px;
    padding-left: 20px;
}

.navbar-brand > img {
    height: 90px;
    margin-top: 0px;
    height: auto;
}

/* END OF NAVIGATION BAR STYLING */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* changes the logo when the logo no longer fits on the screen*/
@media only screen and (max-width: 470px) {

    #logo1 {
        display: block;
    }

    #logo2 {
        display: none;
    } 
}

/* all the styling when the page is resized and the navbar is toggled*/
@media only screen and (max-width: 1260px) {

.navbar-custom {
    background-color: transparent;
}

.navbar-collapse {
    background-color: #2c2f40ff;
    margin-top: 30px;
}

.navbar-nav > li > a {
    background-color: transparent;
    border: 2px solid transparent;
    text-align: left;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
    border: 2px solid transparent;
    text-align: left;
}

.navbar-toggle {
    background-color: transparent;
    border: none;
}

.navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
}

.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;

}



.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-collapse.collapse {
    display: none !important;
}

.navbar-nav {
    float: right !important;
    /*margin: 7.5px -15px;*/
    margin: 0px;;  
}

    nav navbar-nav navbar-right {
        display: none !important;
    }

.navbar-nav > li {
    float: none;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:transparent;
    text-align:right;
    padding-right:0px;

}

    .navbar-nav > li > a:hover {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: transparent;
        text-align: right;
        padding-right: 0px;
    }



.navbar-custom .navbar-nav > li > .active {
    background-color: transparent;
  
    border:2px solid transparent;
}

.navbar-text {
        float: none;
        margin: 15px 0;
   
}

.navbar-collapse.collapse.in {
        display: block !important;
}

.collapsing {
   overflow: hidden !important;
}

}
