@model User

@{
    ViewData["Title"] = "Edit";
}

<br>
<div class="container-content" id="startchange">
    <center>
        <h1>Edit</h1>
    </center>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Edit" method="post">
        <input asp-for="UserName" type="text" placeholder="Enter your new username" />
        <input asp-for="Email" type="text" placeholder="" />
        <input nam="password" type="text"placeholder="Password" />
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
