
﻿@{

    ViewData["Title"] = "Index";
}


<br />
<center><h1>Your account has been registered</h1></center>
<br />
<br />
    <center>
        <a asp-action="ViewUsers" class="btn button">View all users</a>
        <br />
        <br />
        <a asp-action="ProjectView" class="btn button">View all projects</a>
    </center>
<br />

