
﻿@{

    ViewData["Title"] = "Index";
}

<br>
<div class="container-content" id="startchange">
    <center>
        <h1>Index</h1>
        <br />
        <br />
    </center>
    <center>
        <a asp-action="ViewUsers">View Users</a>
        <br />
        <a asp-action="ProjectView">View Projects</a>
    </center>
</div>