
﻿@{

    ViewData["Title"] = "Index";
}

<div class="container" id="startchange" style="height:200px;">
    <br>
    <div class="container-content">

        <div class="content" style="height:600px;  background-color: white">

            <center><h1>Index</h1></center>
            <br />
            <br />

            <center><a asp-action="ViewUsers">View Users</a></center>
            <br />
            <center><a asp-action="ProjectView">View Projects</a></center>

</div>
</div>
</div>