@model Note
@{
    // CREATIVE CYBER SOLUTIONS
    // 04/12/2018
    // JOHN BELL contact@conquest-marketing.com


    ViewData["Title"] = "Add a Note";
}
<br />
<br />
<br />
<br />
<center><h1>Add a Note</h1></center>
<center>
    <form method="post" class="form">
        <input type="hidden" asp-for="From" value="@ViewBag.From" />
        <input type="hidden" asp-for="ProjectID" />
        <br /><textarea asp-for="Text" placeholder="Note:"></textarea>
              <button class="btn btn-primary" style="float: left; width:120px;" type="submit" value="Submit">Add Note</button>

    </form>
</center>

