@model Note
@{
    // CREATIVE CYBER SOLUTIONS
    // 04/12/2018
    // JOHN BELL contact@conquest-marketing.com


    ViewData["Title"] = "Add a Note";
}
<br />
<br />
<br />
<br />
<center><h1>Add a Note</h1></center>
<center>
    <form method="post" class="form">
        <input type="hidden" asp-for="From" value="@ViewBag.From" />
        <input type="hidden" asp-for="ProjectID" />
        <br /><textarea asp-for="Text" placeholder="Note:"></textarea>
        <br /><input asp-for="Visible" checked="checked" /> Make Note Visible to Client

        <button class="btn button" style="float: left; width:120px;" type="submit" value="Submit">Add Note</button> <a asp-action="ProjectView" asp-route-id="@Model" style="float: left;margin-left:15px;" class="btn button-danger">Cancel</a>
    </form>
</center>

