@model Note
@{
    ViewData["Title"] = "NoteEdit";
}

<br/>
<br />
<br />
<br />
<center><h1>Edit Note</h1></center>
<br/>
<center>
<form method="post" class="form">
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="From" />
    <input type="hidden" asp-for="ProjectID" />
    <input type="hidden" asp-for="Date" />
    <textarea asp-for="Text" placeholder="Note:"></textarea>
          <button class="btn btn-primary" style="float: left;" type="submit" value="Submit">Submit</button>
</form>
</center>