@model List<Product>
@{

    // CREATIVE CYBER SOLUTIONS
    // CREATED: 04/12/2018
    // CREATED BY: JOHN BELL contact@conquest-marketing.com
    // UPDATED: 04/16/2018
    // UPDATED BY: JOHN BELL contact@conquest-marketing.com


    ViewData["Title"] = "Add a Product";
}


<br />
<br />
<br />
<br />
<center><h1>Add a Product</h1></center>
<br/>
<center>
<form method="post" class="form">
    <input name="ProjectId" value="@ViewBag.Project" style="width:30px" type="hidden" />
    <select name="ProductId" class="form-control" width="30">
        @foreach (Product p in Model)
        {
            <option value="@p.ID">@p.Name — $@p.Price</option>;
        }


    </select>

    <input name="Qty" type="text" placeholder="Quantity"/>
    <br />
    <br />
<button class="btn btn-primary" style="float: left; width:120px;" type="submit" value="Submit">Add Product</button>
</form>
</center>