@model Product
@{
    // CREATIVE CYBER SOLUTIONS
    // CREATED 04/16/2018
    // CREATED BY JOHN BELL contact@conquest-marketing.com
    // UPDATED 04/16/2018
    // UPDATED BY JOHN BELL contact@conquest-marketing.com



    ViewData["Title"] = "Add a Product";
}
<h2>Add a Product</h2>
<form action="post">
    <label asp-for="Name">Product Name</label><br />
    <input asp-for="Name" /><br />&nbsp;<br />
    <label asp-for="Description">Description</label><br />
    <textarea asp-for="Description"></textarea><br />&nbsp;<br />
    <label asp-for="Price">Price</label><br />
    <input asp-for="Price" />
    <input type="submit" />
</form>