@model List<Product>
@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>
<a asp-action="ProductNew">Create a New Product</a>

<div class="table-responsive">
    <table>
        <tr><td></td></tr>

        @foreach (Product p in @Model)
        {
            <tr>
                <td><a asp-action="ProductView" asp-route-id="@p.ID">@p.Name</a></td>
                <td>$@p.Price</td>

                <td>
                    @{ if (p.Active == false)
                        { @Html.Raw("<i>Inactive</i>") }
                    else
                    { @Html.Raw("Active") }
                    }

                </td>
            </tr>

        }

    </table>
