@model List<Product>
@{

    // CREATIVE CYBER SOLUTIONS
    // CREATED: 04/12/2018
    // CREATED BY: JOHN BELL contact@conquest-marketing.com
    // UPDATED: 04/16/2018
    // UPDATED BY: JOHN BELL contact@conquest-marketing.com


    ViewData["Title"] = "Add a Product";
}

<h2>Add a Product</h2>

<form method="post">
    <input name="ProjectId" value="@ViewBag.Project" style="width:30px" type="hidden" />
    <select name="ProductId" class="form-control" width="30">
        @foreach (Product p in Model)
        {
            <option value="@p.ID">@p.Name — $@p.Price</option>;
        }


    </select>
    <br />
    Quantity<br />
    <input name="Qty" type="text" /><br />
    <input type="Submit" value="Add Product" />
</form>