@model Product
@{
    // CREATIVE CYBER SOLUTIONS
    // CREATED 04/16/2018
    // CREATED BY JOHN BELL contact@conquest-marketing.com
    // UPDATED 04/18/2018
    // UPDATED BY JOHN BELL contact@conquest-marketing.com



    ViewData["Title"] = "Add a Product";
}
<br />
<br />
<br />
<center><h1>Add a Product</h1></center>
<br />
<center>
    <form method="post" class="form">
        <input asp-for="Name" placeholder="Product Name" />
        <input asp-for="Price" placeholder="Price" />
        <textarea asp-for="Description" placeholder="Description"></textarea>
        <button class="btn button" style="float: left;" type="submit" value="AddProduct">Submit</button> <a asp-action="ProductList" style="float: left;margin-left:15px;" class="btn button-danger">Cancel</a>
    </form>
</center>