@model List<Product>
@{
    ViewData["Title"] = "Product List";
}

<center><h1>Product List</h1></center>
<br />
<center><a asp-action="ProductNew" class="btn button">Create a Product</a></center>
<br />

<center>
<div class="table-responsive">
    <table cellspacing="3" class="table table-condensed">
        <tr><th>Name</th><th>Price</th><th>Status</th></tr>

        @foreach (Product p in @Model)
        {
            <tr class="clickable-row" data-href="ProductView/@p.ID">
                <td>@p.Name</td>
                <td>$@p.Price</td>

                <td>
                    @{ if (p.Active == false)
                        { @Html.Raw("<i>Inactive</i>") }
                    else
                    { @Html.Raw("Active") }
                    }

                </td>
            </tr>

        }

    </table>
</div>
</center>

<script type="text/javascript">
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>