@model Project;
@{
    ViewData["Title"] = "Create New Project";

    // CREATIVE CYBER SOLUTIONS
    // CREATED 04/16/2018
    // CREATED BY JOHN BELL contact@conquest-marketing.com
    // UPDATED 05/02/2018
    // UPDATED BY JOHN BELL contact@conquest-marketing.com

}

<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<h2>Create New Project</h2>
<form method="post">
    <label asp-for="Name">Project Name</label>
    <br />
    <input asp-for="Name" />
    <br />&nbsp;<br />
    <label asp-for="CustomerName"></label>
    <br />
    <input asp-for="CustomerName" />
    <br />&nbsp;<br />
    <label asp-for="Description">Description</label>
    <br />
    <textarea asp-for="Description"></textarea>
    <br />&nbsp;<br />
    <input type="Submit" value="Create Project" />
</form>

<script type="text/javascript" src="/Home/memberMessageList"></script>