@model Project;
@{
    ViewData["Title"] = "Create New Project";

    // CREATIVE CYBER SOLUTIONS
    // CREATED 04/16/2018
    // CREATED BY JOHN BELL contact@conquest-marketing.com
    // UPDATED 05/16/2018
    // UPDATED BY JOHN BELL contact@conquest-marketing.com

}
<br />
<center><h1>Create New Project</h1></center>
<br /><center><span style="color:red; font-weight:bold">@ViewBag.Message</span></center>
<br />
<center>
    <form method="post" class="form">
        <input asp-for="CustomerName" placeholder="Customer Name" />
        <input asp-for="Name" placeholder="Project Name" />
        <textarea asp-for="Description" placeholder="Description"></textarea>
        <button class="btn btn-primary" style="float: left;" type="submit" value="Submit">Submit</button>
    </form>
</center>

<script type="text/javascript" src="/Home/memberMessageList"></script>