@model  int;
@{
    ViewData["Title"] = "Quote Project";
}

<br />
<br />
<br />
<br />
<center><h1>Quote Project</h1></center>
<br/>
<center>
    <div style="width:20%">
        <form method="post">
            <input type="hidden" name="projectId" value="@Model" />
            <h2 style="text-align:left;">@ViewBag.ProjectName</h2>
            <h3 style="text-align:left;">@ViewBag.ProjectDescription</h3>
            <br />&nbsp;<br />
            <input type="number" name="quote" style=""/><br />
            <button class="btn btn-primary" style=" width:120px; " type="submit" value="Submit">Add a quote</button>
        </form>
    </div>
</center>
