@model RegisterModel

@{
    ViewData["Title"] = "Create an Account";
}


<br />
<br />
<br />
<center><h1>Create Account</h1></center>
<br />

<center>
    <div asp-validation-summary=" All" class="text-danger"></div>
    <form class="form" method="post">


        <input asp-for="Name" type="text" placeholder="Name">
        <input asp-for="Email" type="text" placeholder="Email">

        <input asp-for="Password" type="password" placeholder="Password">




        <button class="btn button" style="float: left;" type="submit" value="Submit">Create Account</button><a asp-action="ViewUsers" style="float: left;margin-left:15px;" class="btn button-danger">Cancel</a>



    </form>
</center>
