@model CCS.Models.CommentModel

@{
    ViewData["Title"] = "CommentSent";
}

<h2>CommentSent</h2>

<body class="text-center">
    <h1>
        Thank you for submitting your comment.
        Your feedback is very important to us!
    </h1>
</body>
<div class="container">
    <div class="panel-heading text-center">
        <h1>Thanks</h1>
    </div>
    <div class="panel-body">
        <h3>
            Thank you, @Model.Name, we'll contact you as soon as possible.
        </h3>
    </div>
</div>

