
@{
    ViewData["Title"] = "Contact";
}

<br>

    <center><h1>Contact</h1></center>

<br />

<center>
    <form class="form">

        <input type="text" id="fname" name="firstname" placeholder="Name">


        <input type="text" id="lname" name="lastname" placeholder="Email">


        <textarea id="subject" name="subject" placeholder="Message" ></textarea>
        <br />

        <button class="btn btn-primary" style="float: left;" type="submit" value="Submit">Submit</button>

    </form>


</center>




