@model CCS.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact Us";
}


    @if (ViewBag.Message == null)
    {
        <br />
        <br />
        <center><h1>Contact Us</h1></center>
        <br />
        <center>
            <div asp-validation-summary=" All" class="text-danger"></div>
            <form class="form" method="post">

                <input asp-for="Name" type="text" placeholder="Name" >

                <input asp-for="Email" type="text" placeholder="Email">

                <input asp-for="Subject" type="text" placeholder="Subject">

                <input asp-for="Message" type="text" placeholder="Message">

                <button class="btn btn-primary" style="float: left;" type="submit" value="Submit">Submit</button>


            </form>
        </center>
    }

    <div>
        <div>
            @if (ViewBag.Message != null)
            {
            <center>
                <h1>Thank You!</h1>
                <div>@ViewBag.Message</div>

            </center>
            }
        </div>
    </div>


